<section id="members" class="home-section">
    <div class="container">
        
        <!-- Section heading -->
        <div class="row">
            <div class="col-xs-12 col-md-4 section-heading">
                <h1 class="section-heading"><a href="{{.Site.BaseURL}}/member/{{if .Site.Params.uglyURLs}}index.html{{end}}"> Current Lab Members/Affiliates</a></h1>
            </div>
        </div>
       
        <!-- Members -->
        <!-- <div class="row">
            {{ range (sort (where .Site.Pages "Type" "member") ".Params.sort_position")}}
                {{ if not .Params.is_former_member }}
                    {{ partial "member_simple" . }}
                {{ end }}
            {{ end }}
            
        </div> -->
        {{ $members := sort (where .Site.RegularPages "Type" "member") ".Params.sort_position" }}
            {{ $members := where $members ".Params.is_former_member" "!=" true }}
            {{ $colsPerRow := 6 }}
            {{ range $i, $member := $members }}
                {{ if eq (mod $i $colsPerRow) 0 }}
                    <div class="row">
                {{ end }}
                {{ partial "member_simple" $member }}
                {{ if or (eq (mod (add $i 1) $colsPerRow) 0) (eq (add $i 1) (len $members)) }}
                    </div>
            {{ end }}
        {{ end }}

        <!-- Link to all members -->
        <div>
            <h3 class="view-all">
                <a href="{{ .Site.BaseURL }}/member/{{if .Site.Params.uglyURLs}}index.html{{end}}">
                    All members
                    <i class="fa fa-angle-double-right"></i>
                </a>
            </h3>
        </div>
    </div>
</section>