    <div class="col-xs-6 col-md-2" style="height:336px;">
        <div id="profile">
            <a href="{{ .Permalink }}">
                <div class="portrait" itemprop="image" style="background-image: url('{{ .Site.BaseURL }}/img/{{ .Params.portrait }}');"></div>
            </a>
            <div class="portrait-title">
                <h4 itemprop="name"><a href="{{ .Permalink }}">{{ .Params.name }}</a></h4>
                {{ range .Params.organizations }}
                    <p>{{ .role }}</p><!-- , {{.name}} -->
                {{ end }}
            </div>
        </div>
    </div>
