{{ $is_list := .is_list }}
{{ $ := .content }}
{{ if $is_list }}
{{ with $.Params.url_DOI }}<a class="btn btn-success btn-outline{{ if $is_list }} btn-xs{{end}}" href="{{ . | absURL }}">DOI</a>{{ end }}
{{ with $.Params.url_pdf }}<a class="btn btn-success btn-outline{{ if $is_list }} btn-xs{{end}}" href="{{ . | absURL }}">PDF</a>{{ end }}
{{ with $.Params.url_preprint }}<a class="btn btn-success btn-outline{{ if $is_list }} btn-xs{{end}}" href="{{ . | absURL }}">Preprint</a>{{ end }}
{{ with $.Params.url_demo }}<a class="btn btn-success btn-outline{{ if $is_list }} btn-xs{{end}}" href="{{ . | absURL }}">Demo</a>{{ end }}
{{ with $.Params.url_dataset }}<a class="btn btn-success btn-outline{{ if $is_list }} btn-xs{{end}}" href="{{ . | absURL }}">Dataset</a>{{ end }}
{{ with $.Params.url_project }}<a class="btn btn-success btn-outline{{ if $is_list }} btn-xs{{end}}" href="{{ . | absURL }}">Project</a>{{ end }}
{{ with $.Params.url_slides }}<a class="btn btn-success btn-outline{{ if $is_list }} btn-xs{{end}}" href="{{ . | absURL }}">Slides</a>{{ end }}
{{ with $.Params.url_video }}<a class="btn btn-success btn-outline{{ if $is_list }} btn-xs{{end}}" href="{{ . | absURL }}">Video</a>{{ end }}
{{ with $.Params.url_poster }}<a class="btn btn-success btn-outline{{ if $is_list }} btn-xs{{end}}" href="{{ . | absURL }}">Poster</a>{{ end }}
{{ range $.Params.url_custom }}
<a class="btn btn-success btn-outline{{ if $is_list }} btn-xs{{end}}" href="{{ .url | absURL }}">{{ .name }}</a>
{{ end }}

<!-- <a class="btn btn-success btn-outline btn-xs" href="{{ $.Permalink }}">Details</a> -->
{{ end }}
